@model IEnumerable<Product>
    <div class="table-responsive">
        <table class="table table-striped mt-4" width="100%">
            <thead class="table-info text-center">
                <tr>
                    <th style="width: 20%"></th>

                    <th>
                        <label asp-for="@Model.FirstOrDefault().Name"></label>
                    </th>

                    <th>
                        <label asp-for="@Model.FirstOrDefault().Price"></label>
                    </th>

                    <th>
                        <label asp-for="@Model.FirstOrDefault().ShadeColor"></label>
                    </th>

                    <th>
                        <label asp-for="@Model.FirstOrDefault().ProductType"></label>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var el in Model)
                {
                    <tr class="p-5 text-center">
                        <td>
                            <img src="@el.Image" style="width: 100%; margin: auto; display: block; border-radius: 5px; border: 1px solid #bbb9b9" />
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(x => el.Name)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(x => el.Price)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(x => el.ShadeColor)
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(x => el.ProductType.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>