@model CoreAspShop.Models.ViewModels.ShopingCartViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row my-3">
    <h1 class="text-info">Shoping Cart</h1>
</div>
@if (Model.Products.Count > 0)
{
<form method="post">
    <div class="container border rounded border-secondary p-3">
        <div class="row">
            <div class="col-8" style="border-right: 1px solid #bbb9b9;">
                <table class="table table-striped" width="100%">
                    <thead class="table-info text-center">
                        <tr>
                            <th style="width: 20%"></th>

                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>

                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>

                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().ShadeColor"></label>
                            </th>

                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().ProductType"></label>
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var el in Model.Products)
                        {
                            <tr class="p-5 text-center">
                                <td>
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-Id="@el.Id"><img src="@el.Image" style="width: 100%; margin: auto; display: block; border-radius: 5px; border: 1px solid #bbb9b9" /></a>
                                </td>

                                <td class="align-middle">
                                    @Html.DisplayFor(x => el.Name)
                                </td>

                                <td class="align-middle">
                                    @Html.DisplayFor(x => el.Price)
                                </td>

                                <td class="align-middle">
                                    @Html.DisplayFor(x => el.ShadeColor)
                                </td>

                                <td class="align-middle">
                                    @Html.DisplayFor(x => el.ProductType.Name)
                                </td>
                                <td class="align-middle">
                                    <button class="btn btn-danger" type="submit" asp-area="Customer" asp-controller="Home" asp-action="Remove" asp-route-Id="@el.Id"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

                <div class="col-4 pl-5">

                    <div class="row">

                        <div class="col-12">
                            <label>Name: </label>
                        </div>
                        <div class="col-12 pb-3">
                            <input asp-for="@Model.Appointment.CustomerName" class="form-control" />
                        </div>


                        <div class="col-12">
                            <label>Phone number: </label>
                        </div>
                        <div class="col-12 pb-3">
                            <input asp-for="@Model.Appointment.CustomerPhoneNumber" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label>Email: </label>
                        </div>
                        <div class="col-12 pb-3">
                            <input type="email" asp-for="@Model.Appointment.CustomerEmail" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label>Appointment Day: </label>
                        </div>
                        <div class="col-12 pb-3">
                            <input type="date" asp-for="@Model.Appointment.AppointmentDay" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label>Appointment Time: </label>
                        </div>
                        <div class="col-12 pb-3">
                            <input type="time" min="08:00" max="18:00" asp-for="@Model.Appointment.AppointmentTime" class="form-control" />
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Schedule Appointment</button>
                    </div>
                </div>
             

        </div>
    </div>
</form>
}
else
{
    <div class="alert alert-danger">No items added on shoping cart</div>
}

